<h1>All Vocabs and Phrases</h1>

<%= @vocabs.each do |vocab| %>
<ul>  <%= link_to vocab.word_or_phrase, vocab_path(vocab)  %></ul>
 <% end %>


 <p><%= link_to "Home", root_path %></p>
 <p><%= link_to "Back to My Page", user_path(current_user) %>