<h1>All Vocabs and Phrases</h1>

<% @vocabs.each do |vocab| %>
<ul>  <%= link_to vocab.word_or_phrase, vocab_path(vocab)  %> </ul>
 <% end %>


 <br>
 <p><%= link_to "<< Back to My Page", user_path(current_user) %>